
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* font-family: "Roboto Slab*/

/* Variables */

:root {
    --color-primary: #003C43;
    --color-secundary: #135D66;
    --color-tertiary: #77B0AA;
    --color-cuarter: #E3FEF7;
}


/* Barra de Navegacion */

.nav-container {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: var(--color-primary);

    li {
        float: left;
    }
    li a {
            display: block;
            color: var(--color-cuarter);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    li a:hover {
            background-color: var(--color-secundary);
        }
    }
.active {
    background-color: var(--color-tertiary);
}

/* IMPORTANT ALTA cambiar el color de la letra en .active */








/* Formulario Nueva Tarea*/

form {
    background-color: var(--color-primary);
    padding: 25px;
    width: 220px;
    border-radius: 10px;
}
/* Titulo del formulario */

legend {
    font-size: x-large;
    color: var(--color-cuarter);
    font-weight: 600;
    margin-bottom: 25px;
}

/* Label Input Textarea */

.label-container {
    margin-bottom: 10px;
}

label {
    color: var(--color-cuarter);
    font-size: large;
    font-weight: 900;
}

input {
   width: 200px;
   height: 25px;
   border-radius: 5px;
   border: none;
   background-color: #EEEEEEEE;
   font-size: medium;
   font-weight: 600; 
}

input:focus {
    background-color: #FFFFFF;
}


textarea {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    border: none;
    resize: none;
    background-color: #EEEEEEEE;
    font-size: larger;
    font-weight: 600;
}

textarea:focus {
    background-color: #FFFFFF;
}

/* Bottones */

button { 
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-cuarter);
    font-size: medium;
    font-weight: 600;
}

button:hover {
    background-color: var(--color-secundary);
}

button:focus {
    background-color: var(--color-tertiary);
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
}







