<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">

            <div class="footer-links">
                <h4>© Comisión 24140 - Grupo 8</h4>
            </div>
            <div class="footer-links">
                <h4>Sobre nosotros</h4>
                <ul>
                    <li><a href="contacto.html">Contáctanos</a></li>
                    <li><a href="nosotros.html">Quienes somos</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Síguenos</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="login-active"></div>
</footer>