<nav class="nav">
    <ul class="nav-ul">
        <li><a <%if(active=="Home"){%>class="active"<%}%> href="/"><i class="fas fa-home"></i></a></li>
        <li><a <%if(active=="tareas"){%>class="active"<%}%> href="/tareas"><i class="fas fa-tasks"></i></a></li>
        <li><a <%if(active=="nosotros"){%>class="active"<%}%> href="/nosotros"><i class="fas fa-"></i></a></li>
        <li><a <%if(active=="contacto"){%>class="active"<%}%> href="/contacto"><i class="fas fa-envelope"></i></a></li>
        <li><a <%if(active=="usuarios"){%>class="active"<%}%> href="/usuarios"><i class="fas fa-user"></i></a></li>
        <li><a <%if(active=="register"){%>class="active"<%}%> href="/register"><i class=""></i></a></li>      
        <li><a <%if(active=="login"){%>class="active"<%}%> href="/login">LogIn</a><a href="/logout" type="button"">Logout</a></li>
        <!---->
    </ul>
    
</nav>