<nav class="nav">
    <ul class="nav-ul">
        <li><a class="active" href="/"><i class="fas fa-home"></i></a></li>
        <li><a href="/tareas"><i class="fas fa-tasks"></i></a></li>
        <li><a href="nosotros"><i class="fas fa-user"></i></a></li>
        <li><a href="contacto"><i class="fas fa-envelope"></i></a></li>
        
        <li><a href="login">LogIn</a><button id="input">Logout</button></li>
        <!---->
    </ul>
    
</nav>