<%- include ("template/head.ejs", {title: "Contacto"}); %>


<body class="body">

  <%- include ("template/header.ejs"); %>

  <%- include ("template/nav.ejs", {active: "contacto"}); %>

  <main class="main">
    <section class="contacto-section-container">
        <form action="URL" method="get" target="_blank" onsubmit="return validarFormulario()">

            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" size="30" maxlength="50" required>

            <label for="lastname">Apellido:</label>
            <input type="text" name="lastname" id="lastname" size="30" maxlength="50" required>

            <!-- Correo electronico-->
            <label for="mail">Correo Electrónico: </label>
            <input type="email" name="mail" id="mail" size="30" maxlength="60" required>

            <!-- File Input -->
            <label for="archivo">Adjuntar Archivo:</label>
            <input type="file" id="archivo" name="archivo">


            <div>
                <label for="comentarios">Comentarios:</label>
                <textarea name="comentarios" id="comentarios" cols="50" rows="10"></textarea>
            </div>

            
            <button type="submit">Enviar</button>
             
        </form>

        <div class="contacto-nosotros">
            <h4>Sugerencias y Comentarios</h4>
            <p>
                Si usted tiene alguna sugerencia o comentario sobre el proyecto, por favor rellene el formulario de contacto.
            </p>

            <h4>Problemas</h4>

            <p> 
                Si usted a sufrido algún problema/bug con el proyecto, por favor no dude en sacar screenshots y rellenar el formulario de contacto para que podamos ayudarlo.
            </p>

        </div>
    </section>       
</main>



  <%- include ("template/footer.ejs"); %>

  <script src="/Js/index.js" defer></script>
  
</body>