<%- include ("template/head.ejs", {title: "Tiddy"}); %>

 


<body class="body">

  <%- include ("template/header.ejs"); %>

  <%- include ("template/nav.ejs", {active: "Home", navUser: "display", user: username}); %>

  <main class="main index-main">
        
       <h1>Porque usar Tiddy para organizar tus tareas</h1>

       <p> <b>Tiddy</b> es una herramienta eficiente para gestionar tareas, diseñada para cargar y visualizar tareas en un diagrama de Gantt. Ideal para equipos y profesionales que buscan una forma clara de organizar proyectos sin complicaciones.
       </p>

       <section class="index-main-container-description">
           
           <div class="index-main-container-text">
            <h2>Características Clave:</h2>

            <h4>Carga de Tareas Simple:</h4>
            
            <ul>
                <li>
                    <b>Nombre de la tarea:</b> Asigna un nombre claro y descriptivo a cada tarea para facilitar su identificación rápida.
                </li>
                
                <li>
                    <b>Fecha de inicio y fecha de fin:</b> Establece las fechas de inicio y fin para una planificación efectiva de cada tarea.
                </li>
                
                <li>
                    <b>Color de representación en el Gantt:</b> Asigna un color a cada tarea para mejorar la visualización y organización en el diagrama de Gantt.
                </li>
                
                <li>
                    <b>Porcentaje de cumplimiento:</b> Indica el progreso de cada tarea con un porcentaje, proporcionando una visión rápida de su estado.
                </li>
            </ul>
            
            <h4>Visualización en Diagrama de Gantt:</h4>
            
            <ul>
                <li>
                    <b>Representación gráfica clara:</b> Muestra todas las tareas en un diagrama de Gantt interactivo, ofreciendo una visión general del proyecto.
                </li>
                
                <li>
                    <b>Interfaz intuitiva:</b> Presenta las tareas de manera ordenada, facilitando la comprensión del progreso del proyecto.
                </li>
            </ul>
            
            <h4>Beneficios:</h4>
            
            <ul>
                <li>
                    <b>Simplicidad en la gestión:</b> Carga y visualiza tareas fácilmente sin funciones complicadas, enfocándose en lo esencial para una planificación efectiva.
                </li>
                
                <li>
                    <b>Transparencia y claridad:</b> La representación visual mediante colores y porcentajes de cumplimiento facilita la comprensión del estado del proyecto.
                </li>
                
                <li>
                    <b>Eficiencia mejorada:</b> Ofrece una visualización clara del proyecto, permitiendo a los equipos identificar rápidamente los avances y áreas que requieren atención.
                </li>
            </ul>
            
            <p class="ultimo-p"> 
                Tiddy es la herramienta ideal para quienes buscan una solución sencilla para la carga y visualización de tareas. Con su enfoque en la simplicidad y claridad, <b>Tiddy</b> permite a los equipos mantener una visión organizada y actualizada de sus proyectos.
            </p>
           </div>
           <aside class="index-main-container-image">
               <img src="img/gantt3.webp" alt=" imagen abstracta">
               <img src="img/gantt1.jpg" alt=" imagen 3d de un Diagrama de Gantt">
           </aside>
       </section>

</main>


  <%- include ("template/footer.ejs"); %>

 
  
</body>






