<%- include ("template/head.ejs", {title: "Nosotros"}); %>


<body class="body">

  <%- include ("template/header.ejs"); %>

  <%- include ("template/nav.ejs"); %>

  <main class="main">
    <div class="nosotros-integrante-container">
                <div class="integrante">
                    <img src="img/Denise.jpg" alt="Denise Romero Day">
                    <h2>Denise Romero Day</h2>
                    <a href="https://www.linkedin.com/in/denise-lilen-romero-day-38ab59a5/" target="_blank"><i class="fab fa-linkedin" ></i></a>
                    <p>¡Hola! Mi nombre es Denise y tengo 32 años.Soy técnica Universitaria en Gestión de Empresas y Técnica Universitaria en Francés. Soy apasionada por los idiomas y el turismo, actualmente trabajo en hotelería. Este año tomé la decisión de comenzar a aprender de programación y es como terminé en este grupo, intentando colaborar para llevar adelante este proyecto. </p>
                </div>
                <div class="integrante">
                    <img src="img/Aldo.jpg" alt="Aldo Salerno">
                    <h2>Aldo Antonio Salerno</h2>
                    <a href="https://www.linkedin.com/in/progaldos/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <p> Soy Analista-Programador con más de 30 años en el desarrollo de software empresarial, basado en el diseño y desarrollo de soluciones basadas en bases de datos.
                        He trabajado en una variedad de proyectos que han abarcado diversas industrias y sectores, lo que me ha 
                        proporcionado una amplia experiencia en la identificación de necesidades empresariales.</p>
                </div>
                <div class="integrante">
                    <img src="img/Daniel.jpg" alt="Daniel Grima">
                    <h2>Daniel Grima</h2>
                    <a href="https://www.linkedin.com/in/daniel-grima-cat10" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <p> Mi nombre es Daniel tengo 32 años. Soy técnico electrónico, hace un tiempo me interesé por el mundo de la programación, actualmente me encuentro en proceso de aprendizaje para poder dedicarme de lleno en esta profesión. En mis tiempos libres me gusta juntarme con amigos y jugar juegos online.</p>
                </div>
                
                <div class="integrante">
                    <img src="img/Guido.jpg" alt="Guido Fossati Navarro">
                    <h2>Guido Fossati Navarro</h2>
                    <a href="https://www.linkedin.com/in/guido-fossati-navarro-820353200/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <p> Soy estudiante de programación y tengo 27 años. Me gusta mas el backend pero ultimamente empiezo a desenvolver me mejor en frontend. Me gusta ordenar codigo y crear codigo limpio y legible. Y en mis tiempos libres, mirar series y stremear jugando a videojuegos, aunque a veces tambien lo hago estudiando o trabajando en proyectos. </p>
                </div>
    </div>

   
</main>


  <%- include ("template/footer.ejs"); %>

  
</body>