
.container {
    margin: 30px auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/*h1 {
    text-align: center;
    color: #333;
}*/

.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "form-container gantt-container";
    gap: 100px;
}

.form-container {
    grid-area: form-container;

}

.gantt-container {
    grid-area: gantt-container;
}



.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007bff;
}

.form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-container input,
.form-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.form-container input:focus,
.form-container select:focus {
    border-color: #007bff;
    outline: none;
}

.form-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.form-container button:hover {
    background-color: #0056b3;
}

.gantt-container {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

th {
    background-color: #007bff;
    color: white;
}

.event-cell {
    position: relative;
    color: white;
    text-align: center;
    font-weight: bold;
}

.event-cell span {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
}


