
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* font-family: "Roboto Slab*/

/* Variables */

:root {
    --color-primary: #003C43;
    --color-secundary: #135D66;
    --color-tertiary: #77B0AA;
    --color-cuarter: #E3FEF7;
}

*{
    border-radius: 5px;
}

/* Barra de Navegacion */

.nav-container {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: var(--color-primary);

    li {
        float: left;
    }

    li a {
            display: block;
            color: var(--color-cuarter);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-weight: 600;
        }

    li a:hover {
            background-color: var(--color-secundary);
            
        }
    

    
}
.active {
        background-color: var(--color-tertiary);
        color: #003C43 !important;
        
}



/*Footer*/



.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-transform: capitalize;
    text-align: center;
}

.footer {
    background-color: var(--color-primary);
    padding: 80px 0;
    text-align: left;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
    
}

.footer-links h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid var(--color-tertiary);
    padding-bottom: 10px;
    display: inline-block;
    
}

.footer-links ul li {
    list-style: none;
    text-align: center;
    margin-right: 40px;
}

.footer-links ul li a {
    font-size: 15px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-links a {
    display: inline-block;
    min-width: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: var(--color-tertiary);
    align-items: center;
}



@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}
/* Formulario Nueva Tarea*/

form {
    background-color: var(--color-primary);
    padding: 25px;
    width: 220px;
    border-radius: 10px;
}
/* Titulo del formulario */

legend {
    font-size: x-large;
    color: var(--color-cuarter);
    font-weight: 600;
    margin-bottom: 25px;
}

/* Label Input Textarea */

.label-container {
    margin-bottom: 10px;
}

label {
    color: var(--color-cuarter);
    font-size: large;
    font-weight: 900;
}

input {
   width: 200px;
   height: 25px;
   border-radius: 5px;
   border: none;
   background-color: #EEEEEEEE;
   font-size: medium;
   font-weight: 600; 
}

input:focus {
    background-color: #FFFFFF;
}


textarea {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    border: none;
    resize: none;
    background-color: #EEEEEEEE;
    font-size: larger;
    font-weight: 600;
}

textarea:focus {
    background-color: #FFFFFF;
}

/* Bottones */

button { 
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-cuarter);
    font-size: medium;
    font-weight: 600;
}

button:hover {
    background-color: var(--color-secundary);
}

button:focus {
    background-color: var(--color-tertiary);
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
}



main {
    background-color: var(--color-tertiary);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content:space-around;
    padding: auto;
}

.index-main-container {
    padding: auto;
    max-width: 1200px;
    margin: 0 auto;

    p {
        font-size: large;
        color: var(--color-cuarter);
        margin-bottom: 25px;
        font-weight: 600;
    }

    dt {
        font-size: large;
        color: var(--color-cuarter);
        margin-bottom: 25px;
        font-weight: 600;
    }

    dd {
        font-size: medium;
        color: var(--color-secundary);
        margin-bottom: 15px;
        font-weight: 600;
    }
}


.contacto-nosotros {
    background-color: var(--color-primary);

    h3 {
        padding: 15px;
        color: var(--color-cuarter);
    }

    li {
        color: var(--color-cuarter);
        padding-top: 15px;
        font-weight: 600;
    }

}




