
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* font-family: "Roboto Slab*/

/* Variables */

:root {
    --color-primary: #003C43;
    --color-secundary: #135D66;
    --color-tertiary: #77B0AA;
    --color-cuarter: #E3FEF7;
}

*{
    border-radius: 5px;
}

html {
    height: 100%;
}

/* ---------------------BODY--------------------- */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-secundary);
    min-height: 100%;
    display: grid;
    gap: 50px;
    grid-template-columns:1fr 1fr 1.5fr;
    grid-template-rows: 25px 1fr 1fr auto;
    grid-template-areas: 
        "header header nav"
        "main main main"
        "main main main"
        "footer footer footer";
    min-height: 100vh;
    margin: 0;
    padding: 0;    
}

/* END BODY */

/*---------------------HEADER---------------------*/

.header {
    grid-area: header;
    padding: 7px;
    margin: auto;

    img {
        height: 70px;
    }
}

/* END HEADER */

/* ---------------------NAV--------------------- */

nav {
    grid-area: nav;
    margin-top: 15px;
}

.nav-ul{
    border-radius: 5px;
    height: auto;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
    background-color: var(--color-primary);

    li {
        float: left;
    }

    li a {
            
            color: var(--color-cuarter);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-weight: 600;
        }

    li a:hover {
            background-color: var(--color-secundary);
            
        }
 
}

.active {
    background-color: var(--color-tertiary);
    color: #003C43 !important;
        
}

/* END NAV */

/* ---------------------MAIN--------------------- */

.main {
    grid-area: main;
    padding: 5px;
    background-color: var(--color-tertiary);
}

/* Index */

.image-main {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto; 
    opacity: 0.8;
    
    

    img {
        width: 70vw;
        height: 700px;
        box-shadow: 23px 13px 14px 0px rgba(0,0,0,0.2);
        
        
    }

}

.image-main:hover {
    -webkit-animation: 2s chicle 1;
    animation: 2s chicle 1;
}

@-webkit-keyframes chicle {
    30%{
        -webkit-transform:
                scaleX(1.25) scaleY(0.75);
    }

    50%{
        -webkit-transform:
                scaleX(0.75) scaleY(1.25);
    }

    60%{
        -webkit-transform:
                scaleX(1.15) scaleY(0.85);
    }
   
}

@keyframes chicle {
    30%{
        transform:
                scaleX(1.25) scaleY(0.75);
    }

    50%{
        transform:
                scaleX(0.75) scaleY(1.25);
    }

    60%{
        transform:
                scaleX(1.15) scaleY(0.85);
    }
}

.image-main-container {
    display: flex;
    flex-direction: column;
    padding: auto;
    max-width: 1000px;
    padding: auto;
    
    .img-click {
        margin: 20px;
        box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
        height: 300px;
        width: 300px;
    }

    img {
        height: 300px;
        width: 300px;
    }

}

.img-click:hover {
    -webkit-animation: 1.7s click 1;
    animation:1.7s click 1;
}


@-webkit-keyframes click {
    35%,75%{
        -webkit-transform:scale(0.8);            
    }

    50%{
        -webkit-transfor: scale(1.1);
    }
}

@keyframes click {
    35%,75%{
        transform:scale(0.8);            
    }

    50%{
        transform:scale(1.1);
    }
}


.description-main-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
    
    h2 {
        margin-left: 20px;
        font-size: 30px;
        color: var(--color-primary);
        margin-bottom: 30px;
    }

    p {
        color: var(--color-primary);
    }

    .ultimo-p{
        color: var(--color-secundary);
        font-weight: bold;
    }
}

.index-main-container {
    
    padding: auto;
    max-width: 1200px;
    margin: 0 auto; 

    h2 {
        margin-left: 20px;
        font-size: 30px;
        color: var(--color-primary);
        margin-bottom: 30px;
    }

    p {
        margin-left: 60px;
        font-size: 20px;
        color: var(--color-primary);
        margin-bottom: 30px;
    }

}

.text-main-container {
    
    padding: auto;
    max-width: 700px;
    margin: 0; 

    h2 {
        margin-left: 20px;
        font-size: 30px;
        color: var(--color-primary);
        margin-bottom: 30px;
    }

    h4 {
        margin-left: 30px;
        font-size: 20px;
        color: var(--color-primary);
        margin-bottom: 30px;

    }
    ul {
        background-color: var(--color-secundary);
        padding-top:20px;
        padding: 10px;
        box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
    }

    li {
        padding-top: 30px;
        margin-left: 60px;
        font-size: 16px;
        color: var(--color-cuarter);
        margin-bottom: 30px;
    }

    
    .ultimo-p{
        color: var(--color-secundary);
        font-weight: bold;
    }
}

/* Contacto */

.contacto-section-container{
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: auto;

    form {
        background-color: var(--color-primary);
        padding: 25px;
        width: 400px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 23px 13px 14px 0px rgba(0,0,0,0.2);

        legend {
            font-size: x-large;
            color: var(--color-cuarter);
            font-weight: 600;
            margin-bottom: 25px;
        }

        label {
            color: var(--color-cuarter);
            font-size: large;
            font-weight: 900;
        }

        input {
            margin-top: 3px;
            margin-bottom: 5px;
            width: 400px;
            height: 25px;
            border-radius: 5px;
            border: none;
            background-color: #EEEEEEEE;
            font-size: medium;
            font-weight: 600; 
            }

        input:focus {
            background-color: #FFFFFF;
        }

        button { 
            margin-top: 3px;
            width: 400px;
            height: 40px;
            border-radius: 5px;
            border: none;
            background-color: var(--color-cuarter);
            font-size: medium;
            font-weight: 600;

        }

        button:hover {
            background-color: var(--color-secundary);
        }

        button:focus {
            background-color: var(--color-tertiary);
            border-style: solid;
            border-width: 2px;
            border-color: #FFFFFF;
        }
        textarea {
            width: 400px;
            height: 100px;
            border-radius: 5px;
            border: none;
            resize: none;
            background-color: #EEEEEEEE;
            font-size: larger;
            font-weight: 600;
        }

        textarea:focus {
            background-color: #FFFFFF;
        }
    }

}

.contacto-nosotros {
    float: center;
    background-color: var(--color-primary);
    width: 220px;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 23px 13px 14px 0px rgba(0,0,0,0.2);


    h4 {
        margin-bottom: 10px;
        color: var(--color-cuarter);
    }

    p {
        color: var(--color-tertiary);
        padding-top: 15px;
        font-weight: 600;
        margin: 10px;
    }

}


/* GANTT*/

.tareas-main-container {
    margin: 30px auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

            /*h1 {
                text-align: center;
                color: #333;
            }*/

.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "form-container gantt-container";
    gap: 100px;
}

.form-container {
    grid-area: form-container;

}

.gantt-container {
    grid-area: gantt-container;
}



.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007bff;
}

.form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-container input,
.form-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.form-container input:focus,
.form-container select:focus {
    border-color: #007bff;
    outline: none;
}

.form-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.form-container button:hover {
    background-color: #0056b3;
}

.gantt-container {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

th {
    background-color: #007bff;
    color: white;
}

.event-cell {
    position: relative;
    color: white;
    text-align: center;
    font-weight: bold;
}

.event-cell span {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
}

.urgente-checkbox {
    display: flex;
    align-items: center;
    
}


/* END GANTT

/* Nosotros  */


.nosotros-integrante-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-around;


    .integrante {
        width: 350px;
        height: 470px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding-top: 20px;
        background-color: rgba(0, 60, 67, 0.7);
        box-shadow: 23px 13px 14px 0px rgba(0,0,0,0.2);
    
    

        img {
            border: 4px solid var(--color-tertiary);
            width: 130px; 
            height: 175px;
        } 

        h2 {
            font-size: 20px;
            color: var(--color-cuarter);
        }

        a {
            display: inline-block;
            min-width: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: var(--color-tertiary);
            transition: all .5s ease;
        }

        a:hover {
            background-color: var(--color-tertiary);
            align-items: center;
        }

        p {
            text-align: center;
            font-size: 16px;
            color: var(--color-cuarter);
            margin: 0px 10px 0px 10px;
        
        }

    }

}




/* END MAIN */






/*---------------------FOOTER---------------------*/



.footer-container {
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    text-transform: capitalize;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: var(--color-primary);
    padding: 80px 0;
    text-align: left;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
    
}

.footer-links h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid var(--color-tertiary);
    padding-bottom: 10px;
    display: inline-block;
    
}

.footer-links ul li {
    list-style: none;
    text-align: center;
    margin-right: 40px;
}

.footer-links ul li a {
    font-size: 15px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-links a {
    display: inline-block;
    min-width: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: var(--color-tertiary);
    align-items: center;
}

/* END FOOTER */


/* ---------------------MEDIA QUERIES--------------------- */


@media screen and (max-width:451px)  {
    
    nav {
        width: 451px;
        margin-top: 0px;
    }

}

@media screen and (max-width:600px)  {

    nav {
        margin-top: 0px;
    }
    
    .body {
        grid-template-columns: auto;
        grid-template-rows: 50px 25px 1fr auto;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
        gap: 25px;

    }

    .image-main{
        
        img {
            height: 300px;
        }
    }
    
    .main-grid {
        grid-template:
        "form-container"1fr
        "gantt-container"1fr;
        
    }

    .contacto-section-container {
        flex-direction: column;
        align-items: center;
        
    }

    .nosotros-integrante-container{
        flex-direction: column;
        align-items: center;

    }

    .contacto-section-container {

        form {

            width: 200px;
            
            input {
                width: 200px;
            }

            textarea {
                width: 200px;
            }

            button {
                width: 200px;
            }
        
        }

        
        



    }

}

@media screen and (min-width:601px) and (max-width:1000px)  {
    

    nav {
       margin-top: 0px;
    }

    body {
        grid-template-rows: 100px 50px 1fr auto;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
        gap: 0px;

    }

    

    .main-grid {
        grid-template:
        "form-container"1fr
        "gantt-container"auto;
        
    }

    .image-main{
        
        img {
            height: 500px;
        }
    }


}

@media(max-width:1151px) {

    nav {
        width: 451px;
    }

    
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}






